.HandleProjectMenu{
  display: flex;
}

.btn-class {
    width: 50%;
    font-size: 21px;
    border-radius: 5px;
    color: white;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    text-wrap: wrap;
  }

  .red {
    background: linear-gradient(to right,  #b02b2b, #d40d0d, #d40d0d, #b33131,);
  }

  .red:hover {
 
    background: rgb(223, 32, 32);
  }