.project {
  display: flex;
  padding: 40px;
  margin: 0 40px;
  height: 40vh;
  gap: 40px;
  background-color: rgb(237, 235, 235);
}

.light-reverse {
  background-color: white !important;
  flex-direction: row-reverse;
}

.project-img-container {
  height: 100%;
}

.project-img {
  height: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.project-block {
  text-align: left;
}

.project-block p {
  margin-block: 15px;
}

@media screen and (min-width: 451px) and (max-width: 780px) {
  .project {
    height: auto;
    margin: 0 20px;
    padding: 20px;
    align-items: center;
  }

  .project-img {
    height: 150px;
  }
}

@media screen and (max-width: 450px) {
  .project-img-container {
    height: auto;
  }

  .project {
    display: block;
    margin: 0 10px;
    padding: 15px;
    height: auto;
  }

  .project-img {
    margin: 15px;
    height: 150px;
  }
}
