.project {
  display: flex;
  padding: 40px;
  align-items: center;
  text-align: left;
  gap: 40px;
  background-color: rgb(237, 235, 235);
}

.light-reverse {
  background-color: white !important;
  flex-direction: row-reverse;
}

.project-img-container {
  width: 100%;
}

.project-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.project-block {
  width: 100%;
}

.project-block{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 451px) and (max-width: 780px) {
  .project {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 25px;
    padding: 15px;
  }

  .project-img-container {
    width: 75%;
  }


}

@media screen and (max-width: 450px) {
  .project {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 15px;
    padding: 15px;
  }
}
