.scroller {
  width: 100%; 
  background: linear-gradient(to right, rgb(237, 235, 235),white, rgb(237, 235, 235));
  overflow: hidden;
  animation: scroll 20s linear infinite;
}

.scroller__inner {
  display: flex;
  padding-block:5px;
  flex-wrap: nowrap;
  gap: 1rem;
}

.light-reverse {
    background: linear-gradient(to right,white, rgb(237, 235, 235),white);
  }

.tag-list {
  li {
    padding: 5px;
  }
}