.scroller__inner {
  display: flex;
  justify-content: space-between;
  padding-block: 15px;
  flex-wrap: nowrap;
  gap: 1rem;
  width: fit-content;
  min-width: 100%;
  animation: marquee 30s linear infinite;
  li {
    text-wrap: nowrap;
  }
}
.scroller__inner:hover {
  animation-play-state: paused;
  cursor: default;
}
